backups
.smex-items
smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
eshell/history
eshell/lastdir
#.smex-items#
#init.el#
ido.last~
